@import '../node_modules/normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;}

section {
    &.hero {
        background-image: linear-gradient(270deg, rgba(0,0,0,0.38559173669467783) 0%, rgba(0,0,0,0) 78%), url('img/hero.jpg');
        background-size: cover;
        background-position: 0  -200px ;
        height: 600px;
        display: flex;
        padding: 2rem 6rem;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 8rem;  

    h1 {
        font-family: 'Bebas Neue', cursive;
        margin: 0;
        text-transform: uppercase;
    }

    nav {
        ul {
            list-style-type: none;
            display: flex;
            li {
                margin: 0 1rem;
                a {
                    color: #000;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: .5rem 1rem;
                    border-radius: 1rem;
                    transition: all .8s ease;

                    &:hover {
                        background-color: #000;
                        color: #fff;
                    }
                }
            }
        }


    }
}

.info {
    flex: 2;
    padding: 2rem;
}
.cta {
    flex: 1;
    margin-top: 2rem;
    padding: 2rem;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;

    button {
        color: #fff;
        padding: .5rem 1rem;
        background-color: #000;
        border: 0;
        outline: 0;
    }
}
